<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="CMSConnectionString" connectionString="Database=GROUP1;User ID=group1;Password=grp1313;Server=vinson:50000"
      providerName="IBM.Data.DB2" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>